<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		Login<br>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					{{message}}<br>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<form action="" method="post">
			<label for="username">username: </label><br>
			<input type="text" id="username" name="username"><br>
			<label for="password">password: </label><br>
			<input type="text" id="password" name="password"><br>
			<input type="submit" id="submit" name="submit">
		</form>
	</body>
</html>
