<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        I'm gonna be a football app.<br>
        <a href="{{url_for('login')}}">log in</a><br>
        <a href="{{url_for('register')}}">register</a><br>
        <a href="{{url_for('logged_in')}}">logged in home</a><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
