{% extends 'base.html' %}

{% block content %}
  <div class="main-wrapper">
    <h1>Your leagues</h1>
    <table style="width:50%">
        <tr>
          <th>League Name</th>
          <th>Team Name</th>
          <th>Ruleset</th>
        </tr>
        {% for league_membership, team_name in zip(league_memberships, team_names) %}
          <tr>
            <td><a href="{{url_for('dashboard.view_league', league_id=league_membership.id)}}">{{ league_membership.league_name }}</a></td>
            <td>{{ team_name }}</td>
            {% if league_membership.ruleset == 'normal' %}
              <td>Normal</td>
            {% elif league_membership.ruleset == 'ppr' %}
              <td>PPR</td>
            {% else %}
              <td>Half-PPR</td>
            {% endif %}
          </tr>
        {% endfor %}
    </table>
    {% if league_commissionerships %}
      <br>
      <h1>Leagues you commission</h1>
      Share the league id with your friends so they can join!<br>
        <table style="width:50%">
          <tr>
            <th>League Name</th>
            <th>League Id</th>
            <th>Ruleset</th>
          </tr>
          {% for league in league_commissionerships %}
            <tr>
              <td><a href="{{url_for('dashboard.view_league', league_id=league.id)}}">{{ league.league_name }}</a></td>
              <td>{{ league.id }}</td>
              {% if league.ruleset == 'normal' %}
                <td>Normal</td>
              {% elif league.ruleset == 'ppr' %}
                <td>PPR</td>
              {% else %}
                <td>Half-PPR</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>

    {% endif %}
    <br>
    <div class="button-wrapper">
      <a class="btn btn-primary" href="{{url_for('dashboard.new_league')}}">Create new league</a><br>
      <a class="btn btn-primary" href="{{url_for('dashboard.join_league')}}">Join a league</a><br>
      <a class="btn btn-primary" href="{{url_for('auth.logout')}}">Log out</a><br>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}<br>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
{% endblock %}
