<html>
    <head>
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Your leagues</h1>
        <table style="width:50%">
            <tr>
              <th>League Name</th>
              <th>Team Name</th>
            </tr>
            {% for league_membership, team_name in zip(league_memberships, team_names) %}
            <tr>
              <td><a href="{{url_for('dashboard.view_league', league_id=league_membership.id)}}">{{ league_membership.league_name }}</a></td>
              <td>{{ team_name }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{url_for('dashboard.new_league')}}">Create new league</a><br>
        <a href="{{url_for('dashboard.join_league')}}">Join a league</a><br>
        <a href="{{url_for('auth.logout')}}">log out</a><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
