<html>
    <head>
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="static/main.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="main-wrapper">
            <h1>Register</h1>
            <form action="" method="post">
                <label for="username">Username: </label><br>
                <input type="text" id="username" name="username"><br>
                <label for="display_name">Your name: </label><br>
                <input type="text" id="display_name" name="display_name"><br>
                <label for="password">Password: </label><br>
                <input type="password" id="password" name="password"><br>
                <input class="login-submit" type="submit" id="submit" name="submit">
            </form><br>

            <a class="btn btn-primary" href="{{url_for('auth.login')}}">Login</a><br>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{message}}<br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>
