<html>
    <head>
        <title>Select Team</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="main-wrapper">
            <h1>Select team for the Divisional Round!</h1><br>
            <h4>Choose players from Buccaneers @ Packers and Bills @ Chiefs.</h4>
            <h4>You must select two players from each team playing this weekend. One team will have 3 players on your roster.</h4><br>

            <form action="" method="POST" class="select-players">
                <table>
                    <tbody>
                        {% for field in form %}
                            <tr>
                                <th>{{field.label}}:</th><td>{{field}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <input type="submit" value="Submit">
            </form>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{message}}<br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>
