<html>
  <head>
    <title>League</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen">
    <style>
      table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <div class="main-wrapper">
      <h1>{{league.league_name}}</h1>
      <a href="{{url_for('dashboard.logged_in_homepage')}}">Go back</a>
      <a href="{{url_for('dashboard.select_team', league_id=league.id)}}">Select your team</a>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}}<br>
          {% endfor %}
        {% endif %}
      {% endwith %}<br>

      <!-- Display for the current round -->
      <h3>{{ current_round_display }}</h3>
      <table class="league-teams">
        <thead>
          <tr>
            <th></th>
            {% for team_name in team_names %}
              <th colspan="2" style="text-align:center">{{team_name}}</th>
            {% endfor %}
          </tr>
          <tr>
            <td></td>
            {% for member_name in member_names %}
              <td colspan="2" style="text-align:center">{{member_name}}</td>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for i, position in enumerate(positions) %}
            <tr>
              <th style="width:{{position_width}}">{{position}}</th>
              {% for row in lineup_data %}
                {% set player = row[i] %} <!-- Access the player data for the current position -->
                <td style="background-color:{{player[2]}}; color:{{player[3]}}; width:{{name_width}}px;">{{player[0]}}</td>
                <td style="width:{{score_width}}; text-align:right;">{{player[1]}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
          <tr>
            <th style="width:{{position_width}}">Round Score</th>
            {% for score in team_scores %}
              <td colspan="2" style="text-align:center"><b>{{score}}</b></td>
            {% endfor %}
          </tr>
          <tr>
            <th style="width:{{position_width}}">Playoff Score</th>
            {% for score in playoff_scores %}
              <td colspan="2" style="text-align:center"><b>{{score}}</b></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>

      <br><br>

    </div>
  </body>
</html>
