{% extends 'base.html' %}

{% block content %}
  <div class="main-wrapper">
    <h1>{{league.league_name}}</h1>
    <h2>Commissioner: {{ league.commissioner.display_name }}</h2>

    <h5>{{current_round | capitalize }} Matchups:</h5>

    {% if current_round == 'divisional' %}
      <h6>Packers @ 49ers, Texans @ Ravens, Buccaneers @ Lions, Chiefs @ Bills</h6>
    {% endif %}

    {% if current_round == 'championship' %}
      <h6>Lions @ 49ers, Chiefs @ Ravens</h6>
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {{message}}<br>
        {% endfor %}
      {% endif %}
    {% endwith %}<br>

    <div>
      <span id="btnWildcard" class="pill-button {{ 'active' if current_round == 'wildcard' else '' }}">Wildcard</span>
      <span id="btnDivisional" class="pill-button {{ 'active' if current_round == 'divisional' else '' }}">Divisional</span>
      <span id="btnChampionship" class="pill-button {{ 'active' if current_round == 'championship' else '' }}">Championship</span>
    </div>
   
    <table class="league-teams">
      <tbody>
          <!-- Header row for labels -->
          <tr class="table-header">
              <th class="score-header-cell"></th>
              {% for member in team_data %}
                  <td>
                    <div class="owner-wrapper">
                      {% if member.owner_name == leader %}
                        👑
                      {% endif %}
                      <span class="team-name">{{ member.team_name }}</span>
                      <span class="owner-name">{{ member.owner_name }}</span>
                    </div>
                  </td>
              {% endfor %}
          </tr>
  
          <!-- Rows for each position -->
          {% for position in positions %}
              <tr>  
                  <th class="position-abv">
                    {% if position == "D_ST" %}
                        D/ST
                    {% else %}
                        {{ position }}
                    {% endif %}
                  </th>
                  {% for member in team_data %}
                    {% if member.lineup[position] %}
                        <td class="player-cell class={{member.lineup[position].team}}" style="background-color:{{member.lineup[position].display_data.primaryColor}};">
                          <span class="player-img-wrapper">
                            <img class="player-img" style="background-color:{{member.lineup[position].display_data.secondaryColor}};" src="{{member.lineup[position].url}}">
                            <div style="color: white">
                              {{ member.lineup[position].player }}: {{ member.lineup[position].score }} pts
                            </div>
                          </span>
                          <!-- <img class="team-icon-img" src="{{member.lineup[position].icon_url}}"> -->
                          <img class="team-icon-img" src="{{member.lineup[position].display_data.icon}}">
                        </td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
          <tr class="table-header">
            <th class="score-header-cell">Score:</th>
            {% for member in team_data %}
                  <td class="points-display">{{ member.lineup_score }} points</td>
            {% endfor %}
          </tr>
      </tbody>
   </table>

    <div class="button-wrapper">
      <a href="{{url_for('dashboard.logged_in_homepage')}}" class="btn custom-button">Go back</a>
      <a href="{{url_for('dashboard.select_team', league_id=league.id)}}" class="btn custom-button">Edit your team</a>  
    </div>
   
    <br><br>

  </div>
{% endblock %}
