<html>
    <head>
        <title>Fantasy Football Postseason Challenge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Fantasy Football Postseason Challenge</h1>
        Join a league and create a team for each week of the post-season. Compete with your friends!<br>
        <a href="{{url_for('auth.login')}}">log in</a><br>
        <a href="{{url_for('auth.register')}}">register</a><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
