{% extends 'base.html' %}

{% block content %}
    <div class="main-wrapper">
        <h1>Fantasy Football <span class="highlight">Postseason Challenge</span></h1>
        <h4>
            Join a league and create a team for each week of the post-season. Compete with your friends!
        </h4>
        <div class="button-wrapper">
            <a class="btn btn-primary" href="{{url_for('auth.login')}}">Login</a><br>
            <a class="btn btn-primary" href="{{url_for('auth.register')}}">Register</a><br>
        </div>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}
