<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Home</h1>
        I'm gonna be a football app.<br>
        <a href="{{url_for('auth.login')}}">log in</a><br>
        <a href="{{url_for('auth.register')}}">register</a><br>
        <a href="{{url_for('dashboard.logged_in_homepage')}}">logged in home</a><br>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}<br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
