.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #55ab88
}

h1 {
    /* align-self: center; */
    font-size: 4.5vw;
    font-weight: 500;
    color: white;
    padding-top: 25px;
}

h4 {
    width: 60%;
    text-align: center;
    color: #d2d2d2;
}

.highlight {
    color: #111133;
}

.button-wrapper {
    padding-top: 50px; 
    display: flex;
}

a.btn {
    margin-left: 15px;
}

/* ===== consider moving this to a separate CSS file ======= */
/* Login Page Styles */

.login-submit {
    margin: 10 auto;
    display: block;
}

.select-players {
    position: relative;
}

.select-players select {
    /* position: absolute; */
    /* right: 0; */
}

.your-team {
    /* background-color: white; */
}