.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #55ab88
}

h1 {
    /* align-self: center; */
    font-size: 4.5vw;
    font-weight: 500;
    color: white;
    padding-top: 25px;
}

h4 {
    width: 60%;
    text-align: center;
    color: #d2d2d2;
}

.highlight {
    color: #111133;
}

.button-wrapper {
    padding-top: 50px; 
    display: flex;
}

a.btn {
    margin-left: 15px;
}

/* ===== consider moving this to a separate CSS file ======= */
/* Login Page Styles */

.login-submit {
    margin: 10 auto;
    display: block;
}

.select-players {
    position: relative;
}

.select-players select {
    /* position: absolute; */
    /* right: 0; */
}

.leauge-teams {
    /* background-color: white; */
}
  
  /* Custom Button Styles */
.custom-button {
    background-color: #013220; /* Dark Forest Green */
    color: white;
    border: none;
}

.custom-button:hover, .custom-button:active {
    background-color: #024731; /* Slightly lighter green for hover/active */
    color: white;
}

.pill-button {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    cursor: pointer;
    margin: 5px;
}

.pill-button.active {
    background-color: #007bff;
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}
footer {
    margin-top: 30px;
    min-height: 200px;
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
}