.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #55ab88
}

h1 {
    /* align-self: center; */
    font-size: 4.5vw;
    font-weight: 500;
    color: white;
    padding-top: 25px;
}

h4 {
    width: 60%;
    text-align: center;
    color: white;
}

.highlight {
    color: #111133;
}

.button-wrapper {
    padding-top: 50px; 
    display: flex;
}

a.btn {
    margin-left: 15px;
}